body{
    margin: 0px;
    padding: 0px;
}

.page
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    font-family: Arial;
    font-size: 20px;
    background-color: bisque;
}

#header,
#footer
{
    height: 10vh;
    background-color: goldenrod;
    width: 100%;
    text-align: center;
}

#leftside,
#rightside
{
    height: 80vh;
    width: 300px;
    background-color: darkgoldenrod;
    text-align: center;
}

#content
{
    flex-grow: 1;
    height: 80vh;
    background-color: antiquewhite;
    text-align: center;
}
